.comments_section {
    background-color: #F6F8FA;
    padding: 12.9rem 0 17.1rem 0;
    position: relative;
}
.public_h2{
    color:  var(--text-main-color);
    font-family: outfit;
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 3rem;
}

.comment_info {
    margin-top: 7rem;
}

.comment_info>p {
    font-family: workSans;
    font-style: normal;
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #707686;
}

.directions {
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.directions img {
    cursor: pointer;
}

.comment {
    padding: 5.7rem 3.2rem 2.7rem 3.2rem;
    background-color: #fff;
    box-shadow: 0px 2px 19px 2px rgba(208, 227, 227, 0.49);
}

.characters {
    display: flex;
    gap: 12.55rem;
    align-items: center;
    margin-bottom: 2rem;
}

.quotation {
    display: flex;
    align-items: center;
    gap: 0.95rem;
}

.star {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.comment i {
    font-family: workSans;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #707686;
}

.profil {
    display: flex;
    align-items: center;
    gap: 1.1rem;
    margin-top: 2rem;
}
.profil>img{
    border-radius: 50%;
}

.profil h4 {
    font-family: outfit;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #34394C;
}

.profil p {
    font-family: outfit;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2.5rem;
    color: #B4B9C7;
}
.ellips{
    position: absolute;
    bottom:0;
    left:13rem;
}
.comments {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.dotS{
    margin-right: 13rem;
    margin-bottom:8rem;
}
