.discount_section {
    background: #F6F8FA;
}

.discount {
    display: flex;
    justify-content: space-between;
    padding: 7.6rem 2rem;

}

.ulina_fashion_img {
    width: 47.5rem;
    height: 47.5rem;
    border-radius: 50%;
    background: #DEECEC;
    box-shadow: 0px 4px 14px 0px rgba(131, 179, 196, 0.15);
    overflow: hidden;
}

.ulina_fashion_img>img {
    padding-left: 3rem;
    margin-bottom: -47rem;
}

.btn_buy {
    margin-left: 4rem;
}

.ulina_p {
    color: var(--main-color);
    font-family: outfit;
    font-size: 20px;
    font-weight: 400;
    line-height: 6rem;
}

.end_p {
    color: #34394C;
}

.date {
    display: flex;
    gap: 1rem;
    position: relative;
}

.date_info {
    display: flex;
    gap: 2rem;
}

.date_span {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 83px;
    height: 83px;
    background-color: var(--white);
    color: #34394C;
    font-family: outfit;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 6rem;
    border-radius: 50%;
}

.two_points {
    color: #34394C;
    font-family: outfit;
    font-size: 3.8rem;
    font-style: normal;
    font-weight: 300;
    width: 32px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1.4rem;
}

.date_info {
    display: flex;
    gap: 11.2rem;
    padding: 20px;
}

.dateP {
    color: #34394C;
    text-align: center;
    font-family: outfit;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 6rem;
}